#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@ --with autotools-dev

override_dh_auto_configure:
	cd amora-cli && autoreconf -f -i
	dh_auto_configure -D amora-cli
	# Does qmake-qt4 support cross-compiling?
	$(MAKE) amora-applet/Makefile

override_dh_clean:
	# Remove any amora-screenshot.png which usually result from testing
	# the package
	find . -name amora-screenshot.png -delete

	dh_clean 

override_dh_auto_install:
	dh_auto_install -D amora-cli

	# Remove installed .la file
	rm -v $(CURDIR)/debian/*/usr/lib/*/libamora.la
