Source: amora-client
Section: user/utils
Priority: extra
Maintainer: Tomaz Noleto <tnoleto@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: amora-client
Architecture: all
Depends: python2.5, python2.5-evas, python2.5-edje, python2.5-ecore
Description: Amora client
 Amora client for Maemo platform
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/
 AP+gvaeTAAAACXBIWXMAAAV6AAAFegHB/0QzAAAAB3RJTUUH2AEXDSAgZCXl
 TQAABXpJREFUSMfNVk2MVFUW/u6971XXq2qK+uuqprvppoEuQH6C6DDAxFlM
 gokRjWCiUaMJMdHFbEYnk5hZzX4WszExunBmwWRkAowQZyZGFk4YIwtFBBUa
 EbGhi6ar6tX7/7/3uKBBGlFZOBPPy128c8853zvfe/d8D/g/mbjTwMdXjPGd
 26e27dmz5cCk1E59eLk7+z8B2tyoNDY9tO6Nnz2++Z6coW9c8oVz+LRpBz86
 0PpSKQChMzRVv39oVW3cbrvnj52e+ehHB/rEcrCsL88XKsZdK7aO3x30Qyp/
 5R84bdp0J/narY5nNqw0qhPlzc3W0K7BWnGDUTZaJFWWBOlMYIXnrpy5GoMR
 tAHRarRq215YW5dKUeZ3/Rl3PrD3X7wU3w6I3Xzz1LqxsY2PTP5xcvvyB8uj
 SwdFTrCbQ0gRYjemfMlgYT9UcRDHIAalSLodt+3Mup9dPjl/5PKH3YP7v2w7
 twV6fufottUPVF4f21pdxzV2Y5ux2z0Tu777LV/spGr2hHnqwtH+S72z8TsH
 LnXUDer2jNXqtR3Jnwqbemut1ATSxW2r6FpjYuAmQHYbSsAAHby8FZsnq+lf
 1CH1O1zCPgBgu1fUByo7+WvNh9jTTLuWdyNZAskMYe7vSo08J7he+aYeA0HF
 QHyRYLTYgm+xBV/BuryPdr/x3867Gg2L9dE6fVfbZgwOgXkA7zOk/QxilkM/
 pUMzFJ+TBB6zRURRSEiPSOSe5ECNfQsIDZTZdvmHR/qN3Vpi8L3pGfaJ/kq8
 oW4Wq8t4GWbmgVOGJi+hxAw4LMaJnotUZ4voyp+T2HC2Cv+1DBeeiJAMc4DR
 YkpXqh18LLpftDJjCTuT7jNssXeElfMNVsKs6qPBSxjlVYyICupyEGeKHmbG
 BTwp4C6s8X9quLe9DFNOA+XTOVhzMUxPwvc5bK7BZjpcXRdsXqXicyf4dI1m
 DA1A/3WdL9E0CJjkYZgvxYioYDmvoclLyLUlPp50EZQEMmKggPDzo0Wsj4Yx
 wWtoxEUMzeionMzQPC5x97FBDBxzyM3SC5nOp/hCm+0MciakBAll184MAFq4
 FBFG/UH84qCOQjv75h3QtRi1sK6PCB0acpIj71DQ/Lf3bOU9/2UBANNxGLby
 hUhC/YqD5SIk0JiABoGMFBwKYMKHdGIUTwXI8kBYYiify1CzcggpQV8F6JGL
 rnKhQLAokCb5f86gXv3XbOc/N2Zdyyh8mlA2qKB26BAsoAQSCiES2BTAVB4s
 CrA6G8K9n9cwcNJBZkXgGcGjGBb56JKLgGIQI3SVdzxC+txhu+stGqrTUSBb
 +UKxyHKPrREjfI02DI9imOSjpzzYFGJC1HGXNorVvIGhuIh+4uKqchAghoTC
 KK9gpWjCo5hM+G8etOcPXa/Pb/nyjwdI2z3yEFKKVaKBCVFDnukLwQySFDKS
 UCCUmAEOoMByGOEVDDAdV1QfXeV6MWV/+06ZmI4Df2rAOBtRst1HXO6Tz3wV
 Y7VoIsd0mORDQcGmAPPkwKEQ92iTCJFgTtmYU7acU9Z5i8IX/2HPv/29etQy
 Cl+kkG/5FDc0xjeuEg1s1JZjTFQxI3toKwum8uFQhLXaCDZp41jCDHgUYVb1
 P7MQ7ZJMvTcdBd8vfNNRgOk46LfyhqdDPDrI8joB8BAhpgwF5DAh6jDJx1JW
 QIQUJvm4qmzqkXcogfzrEatLd6ywa4zCbEZyaYx0i0+x1lEuXAoxqTUwIqpo
 qz46yoGNAHPKoivKPukj+e1hq9P7QeG71R4u1zVO7Jc6E/cBtKWK4oNjvCoG
 WR4OhbioupcCJEcl6ERKcv9hu9P5rlrsTv8ZHi7XSzrx3xgst1eHaKaQ70dI
 f59AfnDE6kr8VOxr107LlPh6BicAAAAASUVORK5CYII=
