Source: amora-server
Section: x11
Priority: extra
Maintainer: Axel Beckert <abe@deuxchevaux.org>
Build-Depends: debhelper (>= 5), libx11-dev, libbluetooth-dev, libxtst-dev, libimlib2-dev, pkg-config
Standards-Version: 3.8.0
Homepage: http://amora.googlecode.com/
Vcs-Svn: http://amora.googlecode.com/svn/trunk/amora-server/
Vcs-Browser: http://code.google.com/p/amora/source/browse

Package: amora-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: use a bluetooth enabled mobile phone as desktop remote control
 Amora (A mobile remote assistant) is an application that enables you
 to control your desktop using your mobile phone. It uses bluetooth to
 send mouse and keyboard events to the X session. With it, you can
 control your presentations, movies or any other application which
 mainly uses mouse and cursor keys.
 .
 Amora also has a screenshot feature, where you can see a thumbnail of
 the currently focused window on the mobile phone.
 .
 Currently only Symbian Series 60 mobile phones are supported. A Java
 client implementation is under development.
 .
 This package contains the daemon running on the to be remote
 controlled computer. The client has to be installed on the mobile
 phone and is not contained in the package. It can be downloaded from
 the home page of the project.
