Source: amora-server
Section: unknown
Priority: extra
Maintainer: Adenilson Cavalcanti <savagobr@yahoo.com>
Build-Depends: debhelper (>= 5), autotools-dev, libx11-dev, libbluetooth-dev, libxtst-dev, libimlib2-dev
Standards-Version: 3.7.2

Package: amora-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libimlib2, libx11-6, libxtst6, libbluetooth2
Description: Amora (A mobile remote assistant) server
 Amora (A mobile remote assistant) is an application that enables you to
 control the linux desktop using your cellphone. It uses bluetooth to send
 mouse and keyboard events to the graphical session. With it, you can control
 your slides in OpenOffice, movies or any other application. Amora also has a
 screenshot feature, where you can see the thumbnail in the cellphone screen
 of currently in focus window in the desktop.
 For more information, visit: http://code.google.com/p/amora/


